{
	acme_dns cloudflare {env.LEXICON_CLOUDFLARE_AUTH_TOKEN}
}

ikuai.home.sixbones.dev {
	reverse_proxy 192.168.10.1
}

clash.home.sixbones.dev {
	reverse_proxy 192.168.10.2:9090
}

incus.home.sixbones.dev {
	reverse_proxy 192.168.10.5:8443 {
		transport http {
			tls_insecure_skip_verify
		}
	}
}

hass.home.sixbones.dev {
	reverse_proxy 192.168.11.10:8123
}
