{
	acme_dns cloudflare {env.LEXICON_CLOUDFLARE_AUTH_TOKEN}
}

ikuai.home.sixbones.dev {
	reverse_proxy 10.0.0.1
}

pve.home.sixbones.dev {
	reverse_proxy 10.0.0.5:8006 {
		transport http {
			tls_insecure_skip_verify
		}
	}
}

hass.home.sixbones.dev {
	reverse_proxy 192.168.1.10:8123
}

omv.home.sixbones.dev {
	reverse_proxy 192.168.1.11:80
}
