{
	acme_dns tencentcloud {
		secret_id {env.TENCENTCLOUD_SECRET_ID}
		secret_key {env.TENCENTCLOUD_SECRET_KEY}
	}
	acme_dns cloudflare {env.LEXICON_CLOUDFLARE_AUTH_TOKEN}
}

openwrt.lab.bone6.top openwrt.lab.bone6.com {
	reverse_proxy 192.168.1.2:8080
}

ikuai.lab.bone6.top ikuai.lab.bone6.com {
	reverse_proxy 192.168.1.1
}

hass.lab.bone6.top {
	reverse_proxy 192.168.1.10:8123
}

pve.lab.bone6.top pve.lab.bone6.com {
	reverse_proxy 192.168.1.5:8006 {
		transport http {
			tls_insecure_skip_verify
		}
	}
}

# *.lab.bone6.top {
# 	reverse_proxy {
# 		to 192.168.1.105
# 	}
# }
